<section class="contact container" id="contacts">
    <h2 class="section-title contact-title">Contact</h2>
    <p class="contact__text">We will answer any question!</p>
    <form class="form__container form__container--contact">
        <input class="form__input" type="email" name="user-email" pattern="/^[a-zA-Z0-9.!#$%&amp;'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" placeholder="Email" />
        <input class="form__input" type="massage" name="user-massage" pattern="^[A-Za-zA-Яа-яЁё\s]+$" placeholder="Type your question" />
    </form>
    <button type="submit" class="button register__button">Send</button>
    
</section>