<footer class="footer conteiner">
    <ul class="social-item footer__social-item list">
        <li class="social-item__icon">
            <a href="" class="link" target="_blank" rel="noreferrer noopener">
                <svg class="" width="15" height="15">
                    <use href="./images/icons/sprite.svg#icon-twitter"></use>
                </svg>
            </a>
        </li>
        <li class="social-item__icon">
            <a href="" class="link" target="_blank" rel="noreferrer noopener">
                <svg class="" width="15" height="15">
                    <use href="./images/icons/sprite.svg#icon-twitter"></use>
                </svg>
            </a>
        </li>
        <li class="social-item__icon">
            <a href="" class="link" target="_blank" rel="noreferrer noopener">
                <svg class="" width="15" height="15">
                    <use href="./images/icons/sprite.svg#icon-twitter"></use>
                </svg>
            </a>
        </li>
    </ul>
    <address class="">
        <ul class="contacts list">
            <li class="contacts__info">
                <a class="contacts-link link" href="tel:+19102228855">
                    <svg class="contacts-link__icon contacts__icon" width="13" height="15">
                        <use href="./images/icons/sprite.svg#icon-phone"></use>
                    </svg>
                    (910)222-8855
                </a>
            </li>
            <li class="contacts__info">
                <a class="contacts-link link" href="https://goo.gl/maps/9ot3i43ghZxX9Hgo8" target="_blank"
                    rel="noreferrer noopener">
                    <svg class="contacts-link__icon  contacts__icon" width="11" height="15">
                        <use href="./images/icons/sprite.svg#icon-location"></use>
                    </svg>
                    New York
                </a>
            </li>
        </ul>
    </address>
</footer>