
<footer class="footer container">
    <ul class="list social-links-list social-links-list--footer">
        <li>
            <a href="#" target="_blank" rel="nofollow noreferrer" aria-label="twitter" title="twitter">
                <svg class="social-icons">
                    <use href="./images/icons/sprite.svg#icon-twitter"> </use>
                </svg>
            </a>
        </li>
    
        <li>
            <a href="#" target="_blank" rel="nofollow noreferrer" aria-label="instagram" title="instagram">
                <svg class="social-icons">
                    <use href="./images/icons/sprite.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
    
        <li>
            <a href="#" target="_blank" rel="nofollow noreferrer" aria-label="facebook" title="facebook">
                <svg class="social-icons">
                    <use href="./images/icons/sprite.svg#icon-facebook"> </use>
                </svg>
            </a>
        </li>
    </ul>
    <address class="">
        <ul class="contacts list">
            <li class="contacts__info">
                <a class="contacts-link link" href="tel:+19102228855" aria-label="call us" title="our phone number">
                    <svg class="contacts-link__icon contacts__icon" width="13" height="15">
                        <use href="./images/icons/sprite.svg#icon-phone"></use>
                    </svg>
                    (910)222-8855
                </a>
            </li>
            <li class="contacts__info">
                <a class="contacts-link link" href="https://goo.gl/maps/9ot3i43ghZxX9Hgo8" target="_blank"
                    rel="noreferrer noopener" aria-label="see us on the map" title="our location">
                    <svg class="contacts-link__icon  contacts__icon" width="11" height="15">
                        <use href="./images/icons/sprite.svg#icon-location"></use>
                    </svg>
                    New York
                </a>
            </li>
        </ul>
    </address>
</footer>