<header class="header">
    <div class="conteiner">
    <nav class="nav">
        <a class="logo" href="./index.html">
            <svg class="nav__logo">
                <use href="./images/icons/sprite.svg#icon-logo"></use>
            </svg>
        </a>
        <ul class="nav__menu list">
            <li class="nav__item">
                <a class="link nav__link" href="#about-us">About us</a>
            </li>
            <li class="nav__item">
                <a class="link nav__link" href="#program">Program</a>
            </li>
            <li class="nav__item">
                <a class="link nav__link" href="#reviews">Reviews</a>
            </li>
            <li class="nav__item">
                <a class="link nav__link" href="#contacts">Contacts</a>
            </li>
        </ul>
    </nav>

    <button type="button" class="mobile-menu-btn" aria-expanded="false" aria-controls="mobile-menu" data-menu-button>
        <svg class="mobile-menu-icon" width="30" height="18" aria-label="Переключатель мобильного меню">
            <use class="icon-menu" href="./images/icons/sprite.svg#icon-menu"></use>
            <use class="icon-close" href="./images/icons/sprite.svg#icon-close"></use>
        </svg>
    </button>
    </div>

    <!-- Мобильное меню -->
    <div class="mobile-menu" data-menu>
        <a class="logo--margin" href="./index.html">
            <svg class="mobile__logo">
                <use href="./images/icons/sprite.svg#icon-logo"></use>
            </svg>
        </a>
        <ul class="mobile-nav list">
            <li class="mobile-nav__item"><a class="link nav__link" href="#about-us">About us</a></li>
            <li class="mobile-nav__item"><a class="link nav__link" href="#program">Program</a></li>
            <li class="mobile-nav__item"><a class="link nav__link" href="#reviews">Reviews</a></li>
            <li class="mobile-nav__item"><a class="link nav__link" href="#contacts">Contacts</a></li>
        </ul>
    </div>
</header>