<!--Registration-->

<section class="registration">
  <div class="container">
      <h2 class="section-title registration__title">Registration</h2> 
      
      <picture class="image-donut">
        <source srcset="./images/registration/desktop/donut.png 1x, ./images/registration/desktop/donut@2x.png 2x" media="(min-width:1280px)" type="image/png">
        <source srcset="./images/registration/tablet/donut.png 1x, ./images/registration/tablet/donut@2x.png 2x" media="(min-width:768px)" type="image/png">
        <img src="./images/registration/tablet/donut.png" alt="donut" width="196">
      </picture>

      <div class="registration__container">
        <h2 class="section-title registration__title--hidden">Registration</h2>
        <ul class="registration__list list">
            <li class="registration__date">May 23, 11:00</li>
            <li class="registration__location">New York</li>
            <li class="registration__cost">$ 699</li>
        </ul>
      <form class="form" autocomplete="off">
        <div class="form__container">
          <p class="form__order">Apply your personal info for registration</p>
          <input type="text" class="form__input" id="name" name="name" pattern="^[A-Za-zA-Яа-яЁё\s]+$" placeholder="Your name" required>
          <input type="tel" class="form__input" id="tel" pattern="[0-9]{10}" placeholder="Phone number" required>
          <input type="email" class="form__input" id="email" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" placeholder="Email" required> 
        </div> 
        <button type="submit" class="button register__button">Register</button>
      </form>
      
      <picture>
        <source srcset="./images/registration/desktop/confetti.png 1x, ./images/registration/desktop/confetti@2x.png 2x" media="(min-width:1280px)" type="image/png">
        <source srcset="./images/registration/tablet/confetti.png 1x, ./images/registration/tablet/confetti@2x.png 2x" media="(min-width:768px)" type="image/png">
        <img class="image-confetti" src="./images/registration/tablet/confetti.png" alt="confetti">
      </picture>
      
    </div>
    
  </div>     
</section>