<section>
  <div class="container review-container">
    <h2 class="title review-title">Reviews</h2>
    <ul class="list review-list">
      <li class="item review-item one slider__item">
        <article>
          <picture class="review-photo photo--round">
            <source
              srcset="
                ./images/reviews/desktop/john_desktop.jpg    1x,
                ./images/reviews/desktop/john@2x_desktop.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/john_tablet.jpg    1x,
                ./images/reviews/tablet/john@2x_tablet.jpg 2x
              "
              media="(max-width:1279px)"
            />
            <img src="./images/reviews/john.png" alt="John" />
          </picture>
          <h3 class="title review__name review-four-stars">John</h3>
          <!-- <p class="review__text">
              The course was fun, relaxing and a bit basic. None of the recipes looked complicated.
              The only suggestion for improvement is to add some more interesting recipes.
            </p> -->
        </article>
      </li>
      <li class="item review-item two slider__item">
        <article>
          <picture class="reviews__photo photo--round">
            <source
              srcset="
                ./images/reviews/desktop/will_desktop.jpg    1x,
                ./images/reviews/desktop/will@2x_desktop.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/will_tablet.jpg    1x,
                ./images/reviews/tablet/will@2x_tablet.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews/mobile/will_mobile.jpg    1x,
                ./images/reviews/mobile/will@2x_mobile.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img src="./images/reviews/will.png" alt="Will" />
          </picture>
          <h3 class="title review__name review-five-stars">Will</h3>
          <p class="review__text">
            Last time I have visited a cooking course by Eva I was impressed with the way she
            explained everything to people. You can be sure you will manage to cook a delicious dish
            even if it is your first time in the kitchen! Thank you so much for the masterclass!
            Looking forward to the next one and highly recommend it to everyone!
          </p>
        </article>
      </li>
      <li class="item review-item three slider__item">
        <article>
          <picture class="reviews__photo photo--round">
            <source
              srcset="
                ./images/reviews/desktop/elisabeth_desktop.jpg    1x,
                ./images/reviews/desktop/elisabeth@2x_desktop.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/elisabeth_tablet.jpg    1x,
                ./images/reviews/tablet/elisabeth@2x_tablet.jpg 2x
              "
              media="(max-width:1279px)"
            />
            <img src="./images/reviews/elisabeth.png" alt="Elisabeth" />
          </picture>
          <h2 class="title review__name review-five-stars">Elisabeth</h2>
          <!-- <p class="review__text">
              The cooking course was everything and more then I thought it would be. I was always
              scared to try to make apple pies but after this class I no longer have a fear of
              trying to do this on my own. Thanks to Eva!
            </p> -->
        </article>
      </li>
    </ul>

    <div class="wrapper">
      <button class="paginate left"><i></i><i></i></button>
      <div class="counter"></div>
      <button class="paginate right"><i></i><i></i></button>
    </div>
  </div>
</section>
