.mobile-menu-btn {
  @media screen and (min-width: 1280px) {
    display: none;
  }
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  fill: var(--main-text-color);

  @media screen and (min-width: 767.98px) {
    top: 26px;
    right: 67px;
  }
}

.icon-close {
  display: none;
}

// .is-open {
//   .icon-close {
//     display: block;
//   }

//   .icon-menu {
//     display: none;
//   }
// }

// .mobile-menu {
//   position: fixed;
//   top: -100%;
//   right: 0;
//   z-index: 100;
//   width: 100vw;
//   height: 100vh;
//   padding: 48px 40px;

//   background-color: rgba(254, 243, 228, 0.9);

//   // &.is-open {
//   //   top: 0;
// }
