.footer {
  display: block;
  padding: 0 15px;

  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    max-width: 665px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 855px;
  }
}

footer .social-links-list {
  // padding: 34px 0;
  margin-bottom: 30px;
}

.social-links-list--footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  max-width: 90px;
}

.contacts {
  display: flex;
}

.contacts__info {
  margin-right: auto;
}

.contacts__info:last-child {
  margin: 0;
}

.contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--additional-color);
  }
}

.contacts-link__icon {
  fill: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  margin-right: 3px;
}

.contacts-link:hover .contacts-link__icon,
.contacts-link:focus .contacts-link__icon {
  fill: var(--additional-color);
}





//    MODAL 


.map-btn-desktop {
  @media screen and (max-width: 1279.98px) {
    display: none;
  }
  cursor: pointer;
}
.map-link-mob {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.hidden {
  display: none;
}
.hidden.modal-is-open {
  display: block;
}
.modal-open {
  overflow: hidden;
}
.backdrop {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 11px 14px rgba(34, 60, 80, 0.2);
  background-color: transparent;
}
.modal {
  width: 1000px;
  height: 550px;
  background-color: #fff;
  position: relative;
  border: 2px solid rgb(221, 185, 88);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}
.modal-text {
  line-height: 2;
  margin-bottom: 10px;
}
.map {
  display: block;
  width: 90%;
  height: 410px;
  margin: 0 auto;
}
.modal-btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(236, 128, 128);
  border-radius: 50%;
  
}
.go-map {
  padding: 20px;
  background-color: #FEF3E4;
  margin-top: 10px;
  border-radius: 20px;
  font-weight: 500;
  color: var(--main-text-color);
}
.link--map {
  color: var(--main-text-color);
  padding: 15px;
}
.icon-close-modal {
  fill: #000;
}