.nav {
  display: flex;
  align-items: center;
}

.nav__menu {
  @media screen and (max-width: 1279.98px) {
    display: none;
  }

  display: flex;
  justify-content: start;
}

.nav__item {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;

  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.nav__link {
  color: var(--main-text-color);

  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}

.container--header {
  position: relative;
}
