.register__button {
  min-height: 40px;
  min-width: 145px;
  /*padding: 12px 47px 13px 46px;*/
  margin: 25px 72px 34px 73px;

  border-radius: 25px;

  border: none;
  font-family: var(--second-font-family);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: 3.61;
  text-align: center;

  color: var(--light-color);
  background-color: var(--primary-color);
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

/* Registration form */

.form__order {
  margin-bottom: 17px;
}

.form__container {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-right: 12px;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
}

.form__input {
  border: none;
  border-bottom: 1px solid var(--primary-color);
  width: 265px;
  margin-bottom: 25px;
}

.form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}

.form__decor {
  content: '';
  width: 265px;
  border-bottom: 1px solid var(--primary-color);
  margin-right: 13px;
  margin-left: 12px;
}
