.registration {
  /*display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 27px;
  padding-left: 18px;
  padding-right: 16px;
  max-width: 510px;*/
  margin-left: auto;
  margin-right: auto;
  background: #fffff9;

  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  color: var(--main-text-color);

  &__container {
    display: flex;
    flex-direction: column;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0 0;

    padding-left: 14px;
    padding-right: 14px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__location {
    margin-top: 28px;
  }

  &__cost {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

.registration__head {
  position: relative;
}

.button {
  min-height: 40px;
  min-width: 145px;
  padding: 0;
  font-family: var(--second-font-family);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  /*line-height: 3.61;*/
  line-height: 2.5;
  text-align: center;

  border-radius: 25px;
  border: none;
  color: var(--light-color);
  background-color: var(--primary-color);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:active {
    background-color: var(--additional-color);
  }

  &__register {
    margin: 12px 72px 47px 73px;
  }
}

/* Registration form */

.form {
  margin-left: 13px;
  margin-right: 12px;
}

.line::before {
  content: '';
  display: block;
  width: 265px;

  border-bottom: 1px solid rgba(171, 129, 108, 0.5);

  margin-top: 20px;
  margin-bottom: 11px;
}

.form__order {
  margin-bottom: 17px;
  text-align: center;
}

.form__container {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
}

.form__input {
  border: none;
  border-bottom: 1px solid var(--primary-color);
  width: 265px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 1.25;
}

.form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}
