.review-title {
  font-family: var(--second-font-family);
  font-style: normal;
  font-weight: var(--main-font-weight);
  font-size: 24px;
  line-height: 2.71;

  text-align: center;

  color: var(--main-text-color);
}
.photo--round-coners {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
  max-width: 110px;
}

.review-five-stars::before {
  content: url('../images/reviews/rate_5stars.png');
  display: block;
}
.review-four-stars::before {
  content: url('../images/reviews/rate_4stars.png');
  display: block;
}

.review__name {
  font-family: var(--main-font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 4.64;
  text-align: center;

  color: var(--main-text-color);
}

.review__text {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: var(--main-font-weight);
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: var(--main-text-color);
}
