.review-list {
  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
}

.review-title {
  font-family: var(--second-font-family);
  font-style: normal;
  font-weight: var(--main-font-weight);
  font-size: 24px;
  line-height: 2.71;

  text-align: center;

  color: var(--main-text-color);
}

.review-item {
  @media screen and (max-width: 767px) {
    &:nth-child(1) {
      display: none;
    }
    &:nth-child(3) {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    &:nth-child(1) {
      position: absolute;
      top: 10%;
      left: 0;
    }

    &:nth-child(2) {
      flex-grow: 2;
    }
    &:nth-child(3) {
      position: absolute;
      top: 10%;
      right: 0;
    }
  }
}

.photo--round {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  border-radius: 50%;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    max-width: 110px;
  }
}
.review__name {
  font-family: var(--main-font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  text-align: center;

  color: var(--main-text-color);
}

.review-five-stars::before {
  content: url('./../images/icons/five_stars.svg');
  display: block;
}

.review-four-stars::before {
  content: url('./../images/icons/four_stars.svg');
  display: block;
}

.review__text {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: var(--main-font-weight);
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 2em;

  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .review-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 626px;
    min-width: 626px;
  }
  .reviews__photo {
    width: 136px;
  }
  .two .reviews__photo {
    width: 100%;
    max-width: 234px;
  }
}

@media screen and (min-width: 1280px) {
  .review-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 626px;
    min-width: 626px;
  }

  .reviews__photo {
    width: 136px;
  }

  .two .reviews__photo {
    width: 100%;
    max-width: 234px;
  }
  .two {
    display: block;
    width: 100%;
  }

  .review__text {
    font-size: 18px;
    line-height: var(--main-line-height);
  }
  .review__name {
    font-size: 16px;
  }
  .review-title {
    font-size: 36px;
  }
}

// Стили для пагинации.
.wrapper {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}

.paginate {
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
}

.paginate i {
  position: absolute;
  top: 40%;
  left: 0;

  width: 35px;
  height: 1px;

  border-radius: 2.5px;
  background: #ab816c;
  transition: all 0.15s ease;
}

.paginate[data-state='disabled'] {
  opacity: 0.3;
  cursor: default;
}

.counter {
  text-align: center;
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: var(--main-line-height);
  color: #ab816c;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
